.App {
  text-align: center;
  background-color: rgb(230, 143, 13);
  
}

.square{
  width: 50px;
  height:50px;
  font-weight: 900;
  line-height: 28px;
  font-size: 26px;
  background-color: rgb(151, 105, 105);
  border-color: aqua;
 
}